// Colors

$white: #ffffff;

$dark-gray: #424559;
$dark-gray-text: #535353;
$light-gray-text: #7f828d;
$light-gray: #b6b6b6;
$light-gray-border: #f0f0f0;

$dark-blue: #272b3d;
$blue-green: #0ca19b;
$green: #00be66;
$light-green: rgba(211, 255, 219, 0.42);

$orange: #ea6558;
$red: #f00;