.main-navigation {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: $dark-gray;
    color: $white;

    .main-navigation-toggle {
        background-color: $green;
        border-radius: 0;
        width: 5rem;
        padding: 0;

        &:focus {
            outline: 0;
        }
    }

    .main-navigation-toggle-icon {
        font-size: 1.6rem;
        color: $white;
    }

    .main-navigation-brand-img {
        margin-left: 4rem;
        padding: 1.34rem 0;
        max-width: 100%;

        @media (min-width: 768px) {
            display: none;
        }
    }

}